.CanvasContainer 
{
	background-image:
      linear-gradient(45deg, #888 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #888 75%),
      linear-gradient(45deg, transparent 75%, #888 75%),
      linear-gradient(45deg, #888 25%, #fff 25%);       
	  background-size:30px 30px;       
	  background-position:0 0, 0 0, -15px -15px, 15px 15px;

	  position: absolute;
}

.CanvasLayer 
{
	position: absolute;
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}