:root 
{
	--bg-color: rgb(32, 34, 36);
	--fg-color: rgb(48, 54, 61);
	--secondary-color: rgb(101, 104, 138);
	--inset-color: rgb(42, 44, 46);
	--font-color: rgb(240, 242, 244);
}

.EditorBody 
{
	background-color: var(--bg-color);
	position: fixed;
	width: 100%;
	height: 100%;
	color: var(--font-color);
	font-family: 'Courier New', Courier, monospace;
	display: grid;
	grid-template-rows: 24px auto 32px;
}

.EditorMid 
{
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: stretch;
}

.EditorLeftBar, .EditorRightBar
{
	background-color: var(--fg-color);
}