:root 
{
	--bg-color: #202224;
	--fg-color: #30363d;
	--secondary-color: #1e5343;
	--inset-color: #2a2c2e;
	--font-color: #f0f2f4;
}

.EditorBody 
{
	background-color: var(--bg-color);
	position: fixed;
	width: 100%;
	height: 100%;
	color: var(--font-color);
	font-family: 'Courier New', Courier, monospace;
	display: grid;
	grid-template-rows: 24px auto 32px;
}

.EditorMid 
{
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: stretch;
}

.EditorLeftBar, .EditorRightBar
{
	background-color: var(--fg-color);
}